.IngredientDetailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.CloseIcon {
  cursor: pointer;
}

.IngredientDetailsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IngredientDetailsInfo {
  display: flex;
  gap: 20px;
}

.InfoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
