.IngredientDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.IngredientDetailsHeader {
  height: 64px;
  display: flex;
  align-items: center;
}

.IngredientDetailsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.IngredientDetailsInfo {
  display: flex;
  gap: 20px;
}

.InfoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
