.ordercard {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border-radius: 40px;
  background-color: #1c1c21;
}

.ordercard__header {
  display: flex;
  justify-content: space-between;
}

.ordercard__header-number {
  font-family: "Iceland", sans-serif;
  font-size: 1.375rem;
  line-height: 24px;
}

.ordercard__header-time {
  font-size: 0.875rem;
  line-height: 20px;
  color: var(--text-dark-grey-secondary-text);
}

.ordercard__title {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 24px;
  margin: 16px 0 0 0;
}

.ordercard__status {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ordercard__body {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 0 0;
}

.ordercard__body-ingredients {
  display: flex;
  align-items: center;
  position: relative;
  height: 32px;
}

.ordercard__body-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ordercard__body-price span {
  font-family: "Iceland", sans-serif;
  font-size: 1.375rem;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .ordercard__body-ingredients {
    height: 42px;
  }
}

@media screen and (min-width: 992px) {
  .ordercard__header-number {
    font-size: 1.75rem;
  }

  .ordercard__header-time {
    font-size: 1rem;
    line-height: 24px;
  }

  .ordercard__body-ingredients {
    height: 64px;
  }

  .ordercard__title {
    font-size: 1.5rem;
    line-height: 30px;
    margin: 24px 0 0 0;
  }

  .ordercard__body {
    margin: 24px 0 0 0;
  }

  .ordercard__body-price span {
    font-size: 1.75rem;
  }
}
