.profile {
  padding: 0 8px;
  margin: 16px 0 0 0;
}

.profile__sidebar {
  display: none;
}

.profile__sidebar-description {
  color: #8585ad;
  line-height: 24px;
  opacity: 0.4;
}

.profile__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__form-title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 32px;
}

.profile__form-content {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  width: 100%;
  gap: 20px;
  margin: 24px 0 0 0;
}

.profile__form-footer {
  display: flex;
  flex-direction: column-reverse;
  gap: 18px;
  margin: 20px 0 0 0;
}

@media screen and (min-width: 768px) {
  .profile {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    margin: 0;
  }

  .profile__sidebar {
    display: flex;
    flex-direction: column;
    gap: 80px;
    max-width: 320px;
    width: 100%;
    margin: 120px 0 0 0;
  }

  .profile__form {
    flex: 1;
    margin: 120px 0 0 0;
  }

  .profile__form-content {
    margin: 0;
    gap: 24px;
    max-width: auto;
    align-self: flex-start;
  }

  .profile__form-title {
    display: none;
  }

  .profile__form-footer {
    flex-direction: row;
    align-self: flex-end;
  }
}
