.BurgerIngredients {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.BurgerIngredientsTabs {
  display: flex;
}

.BurgerIngredientsContent {
  overflow-y: scroll;
  height: 100%;
}

.BurgerIngredientsContent::-webkit-scrollbar {
  background-color: #2f2f37;
  border-radius: 5px;
  width: 8px;
}

.BurgerIngredientsContent::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 5px;
}
