.ingredientimage {
  position: absolute;
  height: 32px;
  width: 32px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #801ab2, #4c4cff);
}

.ingredientimage__body {
  position: relative;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-color: #1c1c21;
}

/* absolute h-6 top-1/2 left-1/2 transform-50 */
.ingredientimage__image {
  position: absolute;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ingredientimage__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  background: #1c1c21;
  opacity: 60%;
}

.ingredientimage__count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.875rem;
  line-height: 20px;
}

.z-0 {
  z-index: 0;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.z-4 {
  z-index: 4;
}
.z-5 {
  z-index: 5;
}

.left-0 {
  left: 0;
}
.left-1 {
  left: 24px;
}
.left-2 {
  left: 48px;
}
.left-3 {
  left: 72px;
}
.left-4 {
  left: 96px;
}
.left-5 {
  left: 120px;
}

@media screen and (min-width: 768px) {
  .ingredientimage {
    height: 42px;
    width: 42px;
  }

  .ingredientimage__body {
    height: 38px;
    width: 38px;
  }

  .ingredientimage__image {
    height: 34px;
  }
}

@media screen and (min-width: 992px) {
  .ingredientimage {
    height: 64px;
    width: 64px;
  }

  .ingredientimage__body {
    height: 60px;
    width: 60px;
  }

  .ingredientimage__image {
    height: 56px;
  }

  .left-1 {
    left: 36px;
  }
  .left-2 {
    left: 72px;
  }
  .left-3 {
    left: 108px;
  }
  .left-4 {
    left: 144px;
  }
  .left-5 {
    left: 180px;
  }
}
