.ConstructorElementEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2f2f37;
  border: 1px solid #2f2f37;
  max-width: 536px;
  width: 100%;
  min-height: 80px;
  padding: 16px 24px;
  color: #f2f2f3;
  flex-grow: 1;
}

.top {
  border-radius: 88px 88px 40px 40px;
}

.center {
  border-radius: 40px;
}

.bottom {
  border-radius: 40px 40px 88px 88px;
}
