.OrderDetailsHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.CloseIcon {
  cursor: pointer;
}

.OrderDetailsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderNumber {
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
}

.OrderCheck {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background-image: url("../../../images/check-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.OrderCheck svg {
  width: 48px;
  height: 48px;
}
