.forgotpassword {
  margin: 16px 0 0 0;
  padding: 0 8px;
}

.forgotpassword__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotpassword__form-title {
  margin: 0 0 24px 0;
  font-size: 1.75rem;
  text-align: center;
}

.forgotpassword__form-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 480px;
  width: 100%;
}

.forgotpassword__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 40px 0 0 0;
}

.forgotpassword__footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgotpassword__footer-item span {
  font-size: 0.875rem;
  color: #8585ad;
}

@media screen and (min-width: 768px) {
  .forgotpassword {
    margin: 180px 0 0 0;
  }

  .forgotpassword__footer-item span {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .forgotpassword__form-content {
    gap: 24px;
  }

  .forgotpassword__footer {
    margin: 80px 0 0 0;
  }

  .forgotpassword__footer-item {
    flex-direction: row;
    gap: 8px;
  }
}
