.IngredientCategory {
}

.Ingredients {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.Ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.IngredientPrice {
  display: flex;
  align-items: center;
}

.IngredientTitle {
  text-align: center;
}
