.AppHeader {
  background: #1c1c21;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.HeaderNav {
  position: relative;
}

.NavList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}

.NavListItem:last-child {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.NavListItem a {
  display: flex;
  align-items: center;
}

.NavLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
