.BurgerConstructor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  width: 100%;
  margin-top: 88px;
}

.BurgerConstructorBlock {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  width: 100%;
}

.ConstructorBlock {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.ConstructorIngredientsBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.IngredientsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 368px;
  overflow-y: scroll;
  padding-right: 8px;
  position: relative;
  width: 100%;
  right: -8px;
}

.scrollbar {
  right: -16px !important;
}

.scrollbar::-webkit-scrollbar {
  background-color: #2f2f37;
  border-radius: 5px;
  width: 8px;
  margin-left: 5px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #8585ad;
  border-radius: 5px;
}

.BurgerConstructorFooter {
  display: flex;
  gap: 40px;
}

.ConstructorPrice {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ConstructorPrice svg {
  width: 33px;
  height: 33px;
}
