@import url("https://fonts.googleapis.com/css2?family=Iceland&family=JetBrains+Mono:wght@400;700&display=swap");
@tailwind components;
@tailwind utilities;

@layer components {
  .font-iceland {
    font-family: "Iceland", monospace, "Arial", sans-serif;
  }
  .width-content-full div {
    width: 100%;
  }
  .pt-88 {
    padding-top: 88px;
  }
  .mt-45 {
    margin-top: 11.25em;
  }
  .h-auto-304 {
    height: calc(100vh - 304px);
  }
  .h-auto-188 {
    height: calc(100vh - 208px);
  }
  .h-auto-128 {
    height: calc(100vh - 148px);
  }
  .truncate-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
  .tab-underline {
    box-shadow: inset 0 -1px 0 #2f2f37;
  }
  .scrollbar::-webkit-scrollbar {
    background-color: #2f2f37;
    border-radius: 5px;
    width: 8px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #8585ad;
    border-radius: 5px;
  }
  .box-shadow {
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04),
      0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    position: absolute;
  }
  .transform-50 {
    transform: translate(-50%, -50%);
  }
  .svg-16 svg {
    width: 16px;
    height: 16px;
  }
  .svg-24 svg {
    width: 24px;
    height: 24px;
  }
  .svg-33 svg {
    width: 33px;
    height: 33px;
  }
  .svg-48 svg {
    width: 48px;
    height: 48px;
  }
  .text-shadow {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
      0px 4px 32px rgba(51, 51, 255, 0.5);
  }
  .check-bg {
    background-image: url("./images/check-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
  .loader {
    animation: animloader 1s linear infinite alternate;
  }
  .login {
    color: #4c4cff;
    transition: all 300ms ease-in-out;
  }
  .login:hover {
    color: #ffffff;
  }
  .bg-gradient {
    background: linear-gradient(45deg, #801ab2, #4c4cff);
  }
  @keyframes animloader {
    0% {
      box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace, "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  color: #f2f2f3;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  background-color: unset;
  border: unset;
  padding: 0;
}

#root {
  position: relative;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
