.Ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 300ms ease-in-out;
}

.IngredientPrice {
  display: flex;
  align-items: center;
}

.IngredientTitle {
  text-align: center;
}
