.form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form__message {
  font-size: 0.875rem;
  color: #ff0000;
  margin: 0 0 0 10px;
}

@media screen and (min-width: 768px) {
  .form__message {
    font-size: 1rem;
  }
}
